*.suo
*.efkproj
*.png
*.efk
*.wav
*.lib
*.db
*.x
*.obj
*.txt
*.bms
*.log
*.tlog
*.aps
*.psd
*.pdb
*.cso
*.rc
*.ilk
*.sdf
*.opensdf
*.ico
*.exe
*.efkmodel
*.res
*.ipdb
*.user
*.idb
*.opendb
*.filters
*.iobj
